{
  "driver_opengloves": {
    "enable": true,
    "left_enabled": true,
    "right_enabled": true,
    "feedback_enabled": false
  },
  "communication_btserial": {
    "enabled": false,
    "left_name": "lucidgloves-left",
    "right_name": "lucidgloves-right"
  },
  "communication_serial": {
    "enabled": false,
    "left_port": "\\\\.\\COM4",
    "right_port": "\\\\.\\COM5"
  },
  "communication_namedpipe": {
    "enabled": true
  },
  "encoding_alpha": {
    "max_analog_value": 4095
  },
  "pose_settings": {
    "right_x_offset_position": -0.05,
    "right_y_offset_position": 0.07,
    "right_z_offset_position": -0.13,
    "right_x_offset_degrees": 35,
    "right_y_offset_degrees": 0,
    "right_z_offset_degrees": 0,
    "left_x_offset_position": 0.10000000149011612,
    "left_y_offset_position": -0.07999999821186066,
    "left_z_offset_position": -0.029999999329447746,
    "left_x_offset_degrees": 0,
    "left_y_offset_degrees": 0,
    "left_z_offset_degrees": 0,
    "pose_time_offset": -0.009999999776482582,
    "controller_override": false,
    "controller_override_left": 3,
    "controller_override_right": 4
  }
}